body,
ul,
p,
h1,
h2,
h3,
h4,
button {
  margin: 0;
  padding: 0; }

input,
button,
textarea {
  outline: none;
  border: none;
  cursor: pointer; }

.header {
  position: relative;
  height: 800px;
  padding-top: 52px;
  background-color: #008aff;
  border-radius: 0 0 0 200px; }
  .header__btn {
    display: none;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #ff9c8e;
    margin-bottom: 15px; }
    .header__btn::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #ff9c8e;
      bottom: 5px;
      left: 0; }
    .header__btn::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #ff9c8e;
      top: 5px;
      left: 0; }
    .header__btn--active {
      background-color: transparent; }
      .header__btn--active::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0;
        -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
      .header__btn--active::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 0;
        -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }

.wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px; }
  .wrapper--what-do {
    padding: 128px 0 148px; }
  .wrapper--process {
    padding-top: 148px;
    padding-bottom: 44px; }
  .wrapper--features {
    width: 100%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    width: 637px; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600; }
    .nav__link:focus, .nav__link:hover {
      position: relative; }
      .nav__link:focus::after, .nav__link:hover::after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        margin-top: 8px;
        width: 100%;
        background-color: #ff9c8e; }
    .nav__link--is-active:hover {
      position: relative; }
      .nav__link--is-active:hover::after {
        content: "";
        position: absolute;
        display: block;
        height: 2px;
        margin-top: 8px;
        width: 100%;
        background-color: #ff9c8e; }
  .nav--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.epigraph {
  margin-top: 168px;
  width: 490px; }
  .epigraph__title {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px; }
  .epigraph__text {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #fff;
    line-height: 150%;
    margin-bottom: 56px; }

.btn {
  padding: 13px 69px;
  border-radius: 64px;
  border: none;
  background-color: #ff9c8e;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  font-family: inherit;
  line-height: 22px; }
  .btn--contact {
    width: 226px; }
  .btn:hover {
    -webkit-box-shadow: 0 0 15px aqua, inset 0 1px 8px -2px #fff;
            box-shadow: 0 0 15px aqua, inset 0 1px 8px -2px #fff; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 200px 0 0;
  background-image: url(../images/slider/slide-img-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 42vw;
  height: calc(100vh - 120px); }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 48px 48px; }
  .slider__btn {
    width: 32px;
    height: 32px;
    background-image: url(../images/slider/arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    margin-right: 8px; }
    .slider__btn--right {
      background-image: url(../images/slider/arrow-right.svg);
      margin-right: 0; }
    .slider__btn:hover {
      -webkit-box-shadow: 0 0 15px #fff, inset 0 1px 8px -2px #fff;
              box-shadow: 0 0 15px #fff, inset 0 1px 8px -2px #fff; }
  .slider__description {
    margin-left: 24px; }
  .slider__title {
    color: #fff;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .slider__text {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    line-height: 140%; }

.greeting {
  max-width: 754px;
  margin: 148px auto; }
  .greeting__title {
    color: #253757;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px; }
  .greeting__text {
    color: #6c788b;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    line-height: 150%; }

.what-do {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .what-do__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .what-do__text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #6c788b; }

.heading {
  color: #253757;
  text-align: center;
  font-size: 52px;
  line-height: 150%;
  margin-bottom: 64px; }
  .heading--what-do {
    font-size: 20px;
    line-height: 140%;
    margin: 40px 0 16px; }
  .heading--process, .heading--features, .heading--testimonials, .heading--contact {
    text-align: start;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 32px;
    font-weight: 600; }
  .heading--features {
    color: #fff;
    font-weight: 600; }
  .heading--testimonials {
    margin-bottom: 85px; }
  .heading--vision {
    font-weight: 600;
    margin-bottom: 24px; }
  .heading--contact {
    color: #fff; }

.section {
  padding: 0 20px;
  background-color: #fff; }
  .section--process {
    background-color: inherit; }
  .section--features {
    padding-left: 7.5vw;
    padding-right: 0;
    background-color: inherit; }
  .section--testimonials {
    background-color: inherit;
    padding: 148px 0 168px; }
  .section--vision {
    padding: 198px 20px;
    position: relative; }

.name-section {
  display: block;
  color: #c0cdd7;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 16px; }
  .name-section--features {
    color: #fff; }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__item:first-child {
    width: 362px;
    margin-top: 82px; }
  .process__item:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 558px; }
  .process__text {
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 150%; }
    .process__text:first-of-type {
      margin-bottom: 16px; }

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .boxes__item {
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
    .boxes__item:first-child {
      -webkit-transform: translateY(132px);
              transform: translateY(132px); }
    .boxes__item:nth-child(3) {
      -webkit-transform: translateY(132px);
              transform: translateY(132px); }
  .boxes__span {
    color: #56ccf2;
    font-weight: 600;
    display: inline-block;
    padding: 2px 12px;
    background: rgba(86, 204, 242, 0.1);
    border-radius: 23px;
    margin-bottom: 24px; }
    .boxes__span--yellow {
      color: #fcc91d;
      background-color: rgba(252, 201, 29, 0.1); }
    .boxes__span--green {
      color: #15d850;
      background-color: rgba(21, 216, 80, 0.1); }
    .boxes__span--red {
      color: #f36363;
      background-color: rgba(243, 99, 99, 0.1); }
  .boxes__text {
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 32px; }
  .boxes__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .boxes__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #56ccf2;
    background-image: url(../images/slider/long-arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px; }
    .boxes__btn--yellow {
      background-color: #fcc91d; }
    .boxes__btn--green {
      background-color: #15d850; }
    .boxes__btn--red {
      background-color: #f36363; }
  .boxes__link {
    color: #334563;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 976px;
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  padding-left: 9vw; }
  .features__box:first-child {
    width: 362px;
    height: 568px; }
  .features__box:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .features__img {
    display: block;
    width: 42vw; }
  .features__span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 16px; }
  .features__list {
    list-style: none; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px; }
  .features__picture {
    width: 64px;
    height: 64px;
    margin-right: 34px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../images/features/speaker.svg);
    background-position: center;
    background-repeat: no-repeat; }
    .features__picture--calendar {
      background-image: url(../images/features/calendar.svg); }
    .features__picture--file-text {
      background-image: url(../images/features/file-text.svg); }
  .features__text {
    width: 264px;
    font-size: 15px;
    color: #fff; }

.testimonials__item {
  display: grid;
  grid-template-columns: repeat(3, 314px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 87px 32px 32px;
  background-color: #fff;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .card-img__wrapper {
    position: relative;
    margin-bottom: 82px; }
    .card-img__wrapper::before {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      -webkit-transform: rotate(-60deg) translate(-20px, -45px);
              transform: rotate(-60deg) translate(-20px, -45px); }
    .card-img__wrapper::after {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      -webkit-transform: rotate(-60deg) translate(75px, 10px);
              transform: rotate(-60deg) translate(75px, 10px); }
  .card:nth-child(2) .card-img__wrapper {
    position: relative;
    margin-bottom: 82px; }
    .card:nth-child(2) .card-img__wrapper::before {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      -webkit-transform: rotate(-60deg) translate(-20px, -45px);
              transform: rotate(-60deg) translate(-20px, -45px); }
    .card:nth-child(2) .card-img__wrapper::after {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      -webkit-transform: rotate(-60deg) translate(75px, 10px);
              transform: rotate(-60deg) translate(75px, 10px); }
  .card:nth-child(3) .card-img__wrapper {
    position: relative;
    margin-bottom: 82px; }
    .card:nth-child(3) .card-img__wrapper::before {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #ff9c8e;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #ff9c8e;
      -webkit-transform: rotate(-60deg) translate(-20px, -45px);
              transform: rotate(-60deg) translate(-20px, -45px); }
    .card:nth-child(3) .card-img__wrapper::after {
      content: "";
      position: absolute;
      width: 139px;
      height: 56px;
      border-radius: 500px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #ff9c8e;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #ff9c8e;
      -webkit-transform: rotate(-60deg) translate(75px, 10px);
              transform: rotate(-60deg) translate(75px, 10px); }
  .card__img {
    position: relative;
    z-index: 2;
    display: block;
    border-radius: 50%; }
  .card__quote {
    margin-bottom: 10.52px; }
  .card__text {
    text-align: center;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #6c788b; }
  .card__name {
    font-weight: 600;
    color: #253757;
    margin-bottom: 4px;
    line-height: 150%; }
  .card__profession {
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c0cdd7; }

.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .vision__text {
    color: #6c788b;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 150%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px; }

.rectangle {
  position: absolute;
  border-radius: 500px;
  opacity: 0.5;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  height: 85.61px;
  width: 33.84px;
  border: 3px solid #ff9c8e;
  top: 15%;
  left: 22%; }
  .rectangle:nth-child(2) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 45.28px;
    width: 17.9px;
    border: 3px solid #fcc304;
    top: 15%;
    left: 40%; }
  .rectangle:nth-child(3) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 53.69px;
    width: 21.22px;
    border: 3px solid #bc04fc;
    left: 90%; }
  .rectangle:nth-of-type(4) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 143.04px;
    width: 56.54px;
    border: 3px solid #03d542;
    top: 25%;
    left: 78%; }
  .rectangle:nth-of-type(5) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 67.36px;
    width: 26.63px;
    border: 3px solid #56CCF2;
    top: 55%;
    left: 15%; }
  .rectangle:nth-of-type(6) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 143.04px;
    width: 56.54px;
    border: 3px solid #03d542;
    top: 50%;
    left: 25%; }
  .rectangle:nth-of-type(7) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 85.61px;
    width: 33.84px;
    border: 3px solid #ff9c8e;
    top: 55%;
    left: 72%; }
  .rectangle:nth-of-type(8) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 86.41px;
    width: 34.16px;
    border: 3px solid #fcc304;
    top: 50%;
    left: 90%; }
  .rectangle:nth-of-type(9) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 93.54px;
    width: 36.98px;
    border: 3px solid #bc04fc;
    top: 70%;
    left: 18%; }
  .rectangle:nth-of-type(10) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 45.28px;
    width: 17.9px;
    border: 3px solid #fcc304;
    top: 75%;
    left: 40%; }
  .rectangle:nth-of-type(11) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 45.28px;
    width: 17.9px;
    border: 3px solid #bc04fc;
    top: 80%;
    left: 60%; }
  .rectangle:nth-of-type(12) {
    position: absolute;
    border-radius: 500px;
    opacity: 0.5;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    height: 153.61px;
    width: 60.72px;
    border: 3px solid #56ccf2;
    top: 65%;
    left: 80%; }

.footer {
  background: #008aff;
  border-radius: 0 150px 0 0;
  height: 867px;
  padding: 180px 0 62px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 121px; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 460px; }
  .contact__input {
    width: 100%;
    margin-bottom: 66px;
    padding: 0 0 16px;
    background: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff; }
    .contact__input:focus {
      border-bottom: 2px solid white; }
    .contact__input::-webkit-input-placeholder {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.7; }
    .contact__input::-moz-placeholder {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.7; }
    .contact__input:-ms-input-placeholder {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.7; }
    .contact__input::-ms-input-placeholder {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.7; }
    .contact__input::placeholder {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      opacity: 0.7; }
    .contact__input:last-of-type {
      margin-bottom: 80px; }
  .contact__info {
    width: 362px; }
  .contact__span {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 8px;
    color: #fff;
    opacity: 0.5; }
    .contact__span:last-of-type {
      margin-bottom: 16px; }
  .contact__text {
    margin-bottom: 48px;
    font-size: 24px;
    color: #fff; }
  .contact__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact__img {
    margin-right: 45.34px; }

@media screen and (max-width: 960px) {
  .wrapper {
    width: 90%;
    margin: 0 auto; }
  .header__btn {
    position: absolute;
    display: block;
    z-index: 2; }
  .nav {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: black;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .nav--footer {
      display: none; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: auto; }
    .nav__item {
      margin-bottom: 20px; }
      .nav__item:focus::after {
        display: none; }
  .epigraph {
    margin: 0 auto;
    width: auto;
    padding: 0 60px; }
    .epigraph__title {
      font-size: 50px; }
  .slider {
    display: none; }
  .greeting {
    padding: 0 10px; }
  .what-do {
    grid-template-columns: repeat(1, 1fr); }
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .process__item:first-child {
      width: auto; }
    .process__item:last-child {
      width: auto;
      grid-template-columns: repeat(1, 1fr); }
  .boxes__item:first-child {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .boxes__item:nth-child(3) {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .section--features {
    padding-left: 0; }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    border-radius: 0; }
    .features__box:first-child {
      width: auto;
      height: auto; }
    .features__box:last-child {
      display: none; }
    .features__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .testimonials__item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px 0; }
  .rectangle {
    display: none; }
  .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact__info {
      display: none; }
    .contact__form {
      width: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #f2f9ff;
  font-family: "Poppins", sans-serif;
  font-size: 13px; }

input,
a,
button {
  outline: none; }

/*# sourceMappingURL=main.css.map */
